.Banner {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: $alert-padding-y ($alert-padding-x / 2);
  background-color: $body-bg;
  border-top: $border-width solid $border-color;
  align-items: center;
  justify-content: space-between;
  z-index: $zindex-popover;

  > * {
    padding: 0 $alert-padding-x / 2;
  }
}
