@use "sass:math";

.Gallery {
  .Gallery__filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-row-gap: math.div($spacer, 2);

    .Filter {
      margin: 0 1em 0 0;

      @include media-breakpoint-down(xs) {
        width: 100%;
        margin: 0;

        label {
          width: 100%;

          > input,
          > textarea,
          > select,
          > .input-group {
            width: 100%;
            margin-left: 0;
          }

          > .input-group input,
          > .input-group textarea,
          > .input-group select {
            margin-left: 0;
          }
        }
      }
    }
  }

  .Gallery__data {
    margin-top: 0.5em;
  }

  .Gallery__photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em 0.5em;
    justify-content: center;
  }

  .RequestStateLoader__loading {
    margin-top: 1em;
  }
}
