.JournalSection {
  $journal-location-line-width: 0.15em;

  display: flex;

  .JournalSection__location-container {
    width: 4em;
    flex: 0 0 auto;
    padding: 0.5em;
    position: relative;
    top: 1em;

    .JournalSection__location {
      width: 3em;
      height: 3em;
      border-radius: 50%;
      background-color: $gray-200;
      position: relative;
      top: -2em;
      z-index: 1;
      box-shadow: 0 0.25em;
      color: $gray-500;
      text-align: center;
      line-height: 3em;
      border: $journal-location-line-width solid $gray-500;

      .JournalSection__location-icon {
        font-size: 1.5em;
      }
    }
  }

  .JournalSection__location-label {
    small {
      display: block;
      font-size: 60%;
    }
  }

  &.JournalSection__with-other-names {
    margin-top: 1em;

    .JournalSection__location-label {
      margin-top: -0.4em;
    }
  }

  &.JournalSection__with-other-names.JournalSection__passthrough {
    margin-top: 0;

    .JournalSection__location-label {
      margin-top: 0.5em;
    }
  }

  .JournalSection__location-container {
    background-image: linear-gradient(
      to right,
      transparent,
      transparent (2em - $journal-location-line-width / 2),
      $gray-500 (2em - $journal-location-line-width / 2),
      $gray-500 (2em + $journal-location-line-width / 2),
      transparent (2em + $journal-location-line-width / 2),
      transparent
    );
  }
  &.JournalSection__detached .JournalSection__location-container {
    background-image: none;
  }

  &.JournalSection__passthrough {
    .JournalSection__location {
      width: 1.6em;
      height: 1.6em;
      top: -0.6em;
      margin: 0 auto;
      box-shadow: 0 0.15em;

      .JournalSection__location-icon {
        line-height: 2em;
        font-size: 0.75em;
      }
    }

    .JournalSection__location-label {
      font-size: 1.15rem;
      font-style: italic;
      margin: 1em 0;
    }

    + :not(.JournalSection__passthrough) {
      margin-top: 1em;
    }
  }

  &:not(.JournalSection__with-location) {
    margin-top: 1em;
    margin-bottom: 1em;

    .JournalSection__location-container {
      margin-top: -1em;
    }
  }
}
