.JournalPageMap {
  height: 100%;
  width: 100%;
  position: relative;
  min-height: 400px;

  @include media-breakpoint-up(md) {
    @media (min-height: 350px) {
      min-height: unset;
    }
  }
}
