.navbar-nav {
  .nav-item > span {
    padding: $nav-link-padding-y ($nav-link-padding-x / 2);
    display: inline-block;

    .fa-chevron-right {
      margin-right: 1em;
    }
  }
}

.navbar-dark .navbar-nav .nav-item > span {
  color: $gray-200;
}
