@use "sass:math";

.JournalSection {
  $journal-location-line-width: 0.15em;

  display: flex;

  .JournalSection__location-container {
    width: 4em;
    flex: 0 0 auto;
    padding: 0.5em;
    position: relative;
    top: 1em;

    .JournalSection__location {
      width: 3em;
      height: 3em;
      border-radius: 50%;
      background-color: $gray-200;
      position: relative;
      top: -1.875em;
      z-index: 1;
      color: $gray-500;
      text-align: center;
      line-height: 3em;
      border: $journal-location-line-width solid $gray-500;

      .JournalSection__location-icon {
        font-size: 1.5em;
      }
    }
  }

  .JournalSection__text {
    width: 100%;
  }

  .JournalSection__location-label {
    small {
      display: block;
      font-size: 60%;
    }

    time {
      float: right;
      line-height: 1.5rem;
      font-size: 1rem;
      font-style: normal;
    }

    .JournalSection__location-other-names {
      span + span:before {
        margin: 0 0.5em;
        content: "·";
      }
    }
  }

  &.JournalSection__with-other-names {
    margin-top: 1em;

    .JournalSection__location-label {
      margin-top: -0.4em;
    }
  }

  &.JournalSection__with-other-names.JournalSection__passthrough {
    margin-top: 0;

    .JournalSection__location-label {
      margin-top: 0.5em;
    }
  }

  .JournalSection__location-container {
    background-image: linear-gradient(
      to right,
      transparent,
      transparent (2em - math.div($journal-location-line-width, 2)),
      $gray-500 (2em - math.div($journal-location-line-width, 2)),
      $gray-500 (2em + math.div($journal-location-line-width, 2)),
      transparent (2em + math.div($journal-location-line-width, 2)),
      transparent
    );
  }
  &.JournalSection__detached .JournalSection__location-container {
    background-image: none;
  }

  &.JournalSection__passthrough {
    .JournalSection__location {
      width: 1.8em;
      height: 1.8em;
      top: -0.7em;
      margin: 0 auto;

      .JournalSection__location-icon {
        line-height: 2.1em;
        font-size: 0.8em;
      }
    }

    .JournalSection__location-label {
      font-size: 1.15rem;
      font-style: italic;
      margin: 1em 0;
    }
  }

  &:not(.JournalSection__passthrough) {
    margin-top: 1em;
  }

  &:not(.JournalSection__with-location) {
    margin-top: 1em;
    margin-bottom: 1em;

    .JournalSection__location-container {
      margin-top: -1em;
    }
  }

  blockquote {
    padding-left: 1.5em;
    margin: 1em 0;
    font-style: italic;
  }
}
