.JournalPage {
  display: flex;
  flex-direction: column;
  height: 100%;

  h2.JournalPage__title {
    text-align: center;
    width: 100%;
    padding: 0.5em;
    border-bottom: 1px solid $border-color;
    margin: 0;
    background-position: center center;
    background-size: cover;
    color: black;
    text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white;

    svg {
      filter: drop-shadow(0 0 4px white) drop-shadow(0 0 4px white);
    }

    .JourneyKeyPoints {
      font-size: $font-size-base;
    }
  }

  &.JournalPage--journal .JournalPage__overview-title {
    padding: 3em 0.5em;
    font-size: $font-size-base * 2.5;

    @media (max-height: 700px) {
      padding: 0.5em;
    }
  }

  .JournalPage__content {
    padding: ($grid-gutter-width / 2);
    height: 100%;

    @include media-breakpoint-up(md) {
      overflow: auto;
    }
  }

  .JournalOverviewPage__mobile-page-toggler {
    margin-left: auto;
  }

  .JournalOverviewPage__mobile-pages-list {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid $border-color;

    .JournalPagesList {
      overflow-x: visible;
      overflow-y: visible;
      border-right-width: 0;

      .list-group {
        margin: 0;

        .list-group-item {
          border-width: 1px 0;

          &:last-child {
            border-bottom-width: 0;
          }
        }
      }
    }
  }

  &.JournalPage--map .JournalPage__content {
    padding: 0;

    .JournalPageMap__alert-container {
      padding: ($grid-gutter-width / 2);
    }
  }
}
