.JournalPagesList {
  border-right: 1px solid $border-color;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  > .list-group {
    margin: -1px;

    > .list-group-item:first-child,
    .list-group-item:last-child {
      border-radius: 0;
    }
  }
}
