.JournalPage {
  display: flex;
  flex-direction: column;
  height: 100%;

  h2.JournalPage__title {
    text-align: center;
    width: 100%;
    padding: 0.5em;
    border-bottom: 1px solid $border-color;
    margin: 0;
    background-position: center center;
    background-size: cover;
    color: black;
    text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white;

    &.JournalPage__overview-title {
      padding: 4em 0.5em;

      @media (max-height: 600px) {
        padding: 0.5em;
      }
    }
  }

  .JournalPage__content {
    padding: ($grid-gutter-width / 2);
    height: 100%;

    @include media-breakpoint-up(md) {
      overflow: auto;
    }

    br {
      margin: 0 0 0.75em 0;
    }
  }
}
