.JournalPagesList {
  border-right: 1px solid $border-color;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  > .list-group {
    margin: -1px;

    > .list-group-item:first-child,
    .list-group-item:last-child {
      border-radius: 0;
    }

    .list-group-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .JournalPagesList__page-indicator {
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      font-size: 70%;
      text-align: center;
      margin: 0 0 -0.25em 0.5em;
    }
  }
}
