.PhotoModal {
  max-width: 95%;
  max-height: 100%;

  @include media-breakpoint-up(md) {
    height: calc(100vh - 4em);
  }

  .modal-content {
    @include media-breakpoint-up(md) {
      max-height: calc(100vh - 4em);
      height: 100%;
    }

    .modal-body {
      @include media-breakpoint-up(md) {
        overflow: hidden;
        height: 100%;
      }
      padding: 0;

      .row {
        margin: 0;
        height: 100%;

        > * {
          padding: 0;

          @include media-breakpoint-up(md) {
            max-height: 100%;
          }
        }
      }
    }
  }

  .PhotoModal__photo-area {
    background-color: darken($primary, 10%);
    display: flex;
    overflow: hidden;

    .PhotoModal__photo {
      overflow-x: auto;
      overflow-y: auto;
      display: flex;
      flex: 1;

      img {
        max-width: 100%;
        image-orientation: from-image;
        margin: auto;
      }

      span {
        color: color-yiq($primary);
        margin: auto;
        padding: 6em;
        text-align: center;
      }
    }

    .PhotoModal__nav {
      margin: 1px 0;
    }
  }

  .PhotoModal__attributes {
    overflow-x: hidden;
    overflow-y: auto;

    .list-group {
      margin: (-$list-group-border-width) (-$list-group-border-width) 0 0;

      .list-group-item {
        padding: 0.5em 0.75em;

        .list-group-item-heading {
          font-size: 100%;
          font-weight: bold;
        }

        .list-group-item-text {
          font-size: 85%;
          margin-bottom: 0;

          p {
            margin-bottom: 0;
          }
        }
      }

      a.list-group-item {
        text-align: center;

        .fa-chevron-right {
          margin-left: 0.25em;
        }
      }
    }
  }
}
