.PhotoCard {
  margin: 0.25em;
  text-align: center;
  font-size: 0.75rem;
  display: inline-block;

  a {
    cursor: pointer;
    color: $body-color;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;

    &:hover,
    &:active {
      background-color: $primary;
      color: color-yiq($primary);
    }
  }

  .PhotoCard__img-container {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    flex-grow: 0;
  }

  .PhotoCard__data-container {
    flex-grow: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
}
