@import url("https://fonts.googleapis.com/css?family=Hind:400,700&subset=latin-ext");

$container-max-widths: ("xl": 1600px);
$border-radius: 0;
$font-family-base: "Hind", "Calibri", "Segoe UI", "Heisei Kaku Gothic Std",
  "Adobe Fan Heiti Std", "Helvetica", "MS Gothic", sans-serif;
$modal-content-border-radius: 0;
$primary: #e73201;

@import "bootstrap/scss/bootstrap";
@import "./components/**/*.scss";

$navbar-dark-hover-color: $white;
$navbar-dark-active-color: $white;

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;

  *[lang="ja_JP"] {
    font-family: "Heisei Kaku Gothic Std", "Adobe Fan Heiti Std", "MS Gothic",
      "Hind", "Calibri", "Segoe UI", "Helvetica", sans-serif;
  }
}

.center {
  text-align: center;
}

.navbar {
  padding: 0 $navbar-padding-x;

  a.navbar-brand {
    margin-left: -$navbar-padding-x;
    margin-right: 0;
    padding: ($navbar-brand-padding-y + $navbar-padding-y)
      ($navbar-nav-link-padding-x * 2)
      ($navbar-brand-padding-y + $navbar-padding-y) 4.5em;
    background-image: url("assets/journeylog-white.svg");
    background-position: -1.25em -0.75em;
    background-repeat: no-repeat;
    background-size: 5.5em 5.5em;

    &:hover {
      color: $navbar-dark-hover-color;
      background-color: $primary;
      text-decoration: none;
    }

    &:active,
    &:focus {
      color: $navbar-dark-active-color;
      background-color: $primary;
      text-decoration: none;
    }
  }

  &.navbar-dark .navbar-nav {
    .nav-link,
    .btn-link {
      color: $navbar-dark-color;
      padding: ($navbar-padding-y + $navbar-padding-y)
        $navbar-nav-link-padding-x;

      &:hover {
        color: $navbar-dark-hover-color;
        background-color: $primary;
        text-decoration: none;
      }

      &:active,
      &:focus {
        color: $navbar-dark-active-color;
        background-color: $primary;
        text-decoration: none;
      }

      transition: none;
    }
    .nav-item > span {
      padding: ($navbar-padding-y + $navbar-padding-y)
        $navbar-nav-link-padding-x;
    }
  }
}

.modal {
  .modal-header {
    background-color: $primary;
    color: color-yiq($primary);
    border-bottom-color: $primary;

    button.close {
      color: color-yiq($primary);
      text-shadow: none;
    }
  }
}
