@import url("https://fonts.googleapis.com/css?family=Hind:400,700&subset=latin-ext");

$container-max-widths: ("xl": 1600px);
$border-radius: 0;
$font-family-base: "Hind", "Calibri", "Segoe UI", "Heisei Kaku Gothic Std",
  "Adobe Fan Heiti Std", "Helvetica", "MS Gothic", sans-serif;

@import "bootstrap/scss/bootstrap";
@import "./components/**/*.scss";

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;

  *[lang="ja_JP"] {
    font-family: "Heisei Kaku Gothic Std", "Adobe Fan Heiti Std", "MS Gothic",
      "Hind", "Calibri", "Segoe UI", "Helvetica", sans-serif;
  }
}

.center {
  text-align: center;
}
